<div class="container" style="margin: 2%;">
  <!-- Content here -->
  <div class="row">
    <p class="text-end">Hola
      {{usuario}}!

      <a class="btn btn-danger" href="/admin/login/logout">Sign Out
        <i class="far fa-hand-spock"></i>
      </a></p>
  </div>

</div>